:root {
    --roxo-escuro: #3A2E5F;
    --roxo-escuro2: #211427;
    --cinza-azulado: #1E1B29;
    --lilas-pastel: #D6B3FF;
    --roxo2: #594591;
    --branco: #F4F4F4;
    --azul-claro: #9189af;
}

* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* início da NavBar */
.background-nav {
    background-color: var(--cinza-azulado);
    width: 100%;
    height: 150px;
    padding: 20px 200px;
    position: relative;
}

.container {
    max-width: 1200px;
    padding: 0 5%;
    margin: 0 auto;
}

.drop-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li.dropdown > a {
    position: relative;
    padding-right: 20px;
}

nav ul li.dropdown > a::after {
    content: "▼";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.6em;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--roxo-escuro);
    font-size: 18px;
}

nav > ul > li {
    margin: 0 25px;
}

ul li a {
    display: block;
    width: 100%;
    padding: 10px;
}

nav ul {
    display: flex;
}

nav ul li {
    position: relative;
    text-align: center;
    min-width: 150px;
}

nav ul li:hover {
    background-color: var(--roxo-escuro);
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: var(--branco);
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--roxo2);
    min-width: 150px;
    padding: 0;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 100%;
    margin: 0;
}

nav ul li ul li a {
    display: block;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    color: var(--branco);
}

nav ul li ul li:hover {
    background-color: var(--roxo-escuro);
}

.logo {
    width: 115px;
    height: 115px;
}

/* fim da NavBar */

/* responsivo*/
.menu-icon {
    display: none;
}

@media (max-width: 960px) {
    .menu-icon {
        display: block;
        position: relative;
    }

    .background-nav {
        padding: 20px 0;
    }

    nav ul {
        display: block;
    }

    nav ul li ul {
        display: none;
        position: static;
        margin-left: 20px;
    }

    nav ul li:hover ul {
        display: block;
    }

    nav ul li ul {
        position: relative;
    }

    .lista {
        position: fixed;
        background: var(--roxo-escuro);
        top: 0;
        width: 100%;
        height: 100%;
        left: 100%;
        transition: left 0.3s ease;
        flex-direction: column;
        justify-content: center;
    }

    .lista.active {
        left: 0;
    }

    .lista li {
        font-size: 30px;
        margin: 20px 0;
    }
}

/* fim do responsivo*/


/* Fundo */
body {
    background-image: url("img-digital/concurso_ahri_croma_Breno_ass.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    margin: 0;
    padding: 0;
}

/* temporário */
h1 {
    text-align: center;
    padding: 215px 200px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--roxo-escuro2);
}

/*  footer */

footer {
    background-color: var(--cinza-azulado);
    padding: 15px 0;
}

.footer-top h3 {
    text-align: center;
    font-family: "Sniglet", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--branco);
}

.footer-top {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

.footer-top > div {
    flex: 1;
    text-align: center;
    min-width: 200px;
}

.footer-top ul {
    display: flex;
    justify-content: center;
}

hr {
    border: none;
    border-top: 1px solid var(--branco);
    margin: 10px auto;
    width: 80%;
}

.copyright {
    text-align: center;
    font-family: "Sniglet", system-ui;
    font-weight: 100;
    font-style: normal;
    color: var(--branco);
}

footer .footer-top img {
    width: 20px;
    height: 20px;
}

